<div>
    <div class="jumbotron">
        <form class="form-horizontal">
            <fieldset>
                <legend>Crear Material</legend>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2" for="name">Nombre:</label>
                        <div class="col-sm-9">
                            <input type="text" name="username" class="form-control" id="name"
                                   placeholder="Nombre" required="required" ng-model="material.name"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2" for="username">Cantidad Inicial:</label>
                        <div class="col-sm-9">
                            <input type="number" name="username" class="form-control" id="username"
                                   placeholder="0" required="required"
                                   ng-model="material.inventory"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2" for="username">Precio:</label>
                        <div class="col-sm-9">
                            <input type="number" name="price" class="form-control" id="price"
                                   placeholder="0" required="required"
                                   ng-model="material.price"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2" for="email">Proveedor:</label>
                        <div class="col-sm-9">
                            <input type="text" name="username" class="form-control" id="email"
                                   placeholder="Proveedor" required="required" ng-model="material.provider"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2" for="admin">Materia prima</label>
                        <div class="col-sm-2">
                            <input type="radio" name="its_type" class="form-control" id="admin"
                                   placeholder="Materia prima" required="required" value="raw"
                                   ng-model="type"/>
                        </div>
                        <label class="control-label col-sm-2" for="worker">Insumo</label>
                        <div class="col-sm-2">
                            <input type="radio" name="its_type" class="form-control" id="worker"
                                   placeholder="Insumo" required="required" value="supply"
                                   ng-model="type"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1" align="center">
                        <button type="submit" class="btn btn-primary btn-raised" ng-click="submit()">Crear
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="jumbotron">
        <div>
            <button ng-click="getMaterials()" class="btn btn-primary btn-block btn-large">Ver materiales</button>
        </div>

        <div>
            <table id='table' class="table table-striped table-hover ">

                <th ng-repeat="column in columns" ng-show="column.visible">
                    {{column.title}}
                </th>

                <tr ng-repeat="x in materials">
                    <td>{{x.name}}</td>
                    <td>{{x.inventory}}</td>
                    <td>{{x.price}}</td>
                    <td>{{x.supply}}</td>
                    <td>{{x.rawMaterial}}</td>
                    <td>{{x.provider}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>