<div class="col-lg-12">
    <div class="jumbotron">
        <h2 style="color:#60a37e;">Crear producto</h2>
        <div class="products">
            <input type="text" name="n" placeholder="Nombre del producto" required="required" ng-model="product.name" />
            <input type="text" name="i" placeholder="Cantidad disponible" required="required" ng-model="product.inventory" />
            <i> $ </i><input type="text" name="p" placeholder="Precio" required="required" ng-model="product.price" />
            <button type="button" ng-click="submit()" class="btn btn-raised btn-primary" ><i class="glyphicon glyphicon-plus"></i> Crear </button>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="jumbotron">
        <h2 style="color:#60a37e;">Ver productos</h2>

        <div>
            <button ng-click="getProducts()" class="btn btn-primary btn-block btn-large">Ver productos</button>
        </div>

        <div>
            <table id='table' class="table table-striped table-hover ">

                <th ng-repeat="column in columns" ng-show="column.visible">
                    {{column.title}}
                </th>
                <th>Editar</th>
                <th>Borrar</th>

                <tr ng-repeat="p in products">
                    <div class="pToUpdate">
                        <td>{{p.id}}</td>
                        <td><input type="text"   placeholder="{{p.name}}" ng-model="pToUpdate.name"/></td>
                        <td><input type="number" placeholder="{{p.inventory}}" ng-model="pToUpdate.inventory"/></td>
                        <td><input type="number"  placeholder="{{p.price}}" ng-model="pToUpdate.price"/></td>
                        <td><button ng-click="updateProduct(p.id)" type="button" class="glyphicon glyphicon-edit"></button></td>
                        <td><button ng-click="deleteProduct(p.id)" type="button" class="glyphicon glyphicon-remove"></button></td>
                    </div>
                </tr>
            </table>
        </div>

    </div>
</div>
