<div class="jumbotron">
    <legend>Consultar Productos</legend>
    <div align="right">
        <button ng-click="edit({})" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button ng-click="reload()" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>

    <div>
        <table id="table" class="table table-striped table-hover">

            <thead>
            <tr>
                <th>Nombre</th>
                <th>Existencias</th>
                <th>Precio</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tr ng-repeat="p in products">
                <td>{{p.name}}</td>
                <td>{{p.inventory}}</td>
                <td>{{p.price}}</td>
                <td>
                    <button ng-click="edit(p)" class="btn btn-primary btn-raised">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button ng-click="delete(p)" class="btn btn-primary btn-raised">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>


<div id="product" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Producto</h4>
            </div>
            <div class="modal-body">
                <form name="form" class="form-horizontal" ng-submit="submit()">
                    <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-2" for="name">Nombre:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Nombre" required="required" ng-model="product.name"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-2" for="inventory">Existencias:</label>
                                <div class="col-sm-9">
                                    <input type="number" name="inventory" class="form-control" id="inventory"
                                           placeholder="-" min="0" required="required" ng-model="product.inventory"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-2" for="price">Precio:</label>
                                <div class="col-sm-9">
                                    <input type="number" name="price" class="form-control" id="price"
                                           placeholder="-" min="0" ng-model="product.price"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1">
                                <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary btn-raised">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <form class="form-horizontal">

                    <h3>Agregar materiales</h3>
                    <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-2" for="name">Nombre del material:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="material_name" class="form-control" id="material_name"
                                           placeholder="Nombre" ng-model="material.name"/>
                                </div>
                            </div>
                        </div>

                        <div>
                            <table id="table2" class="table table-striped table-hover">

                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tr ng-repeat="p in product.recipes">
                                    <td>{{p.material.id}}</td>
                                    <td>{{p.material.name}}</td>
                                    <td>
                                        <input type="number" name="material_quantity" class="form-control"
                                               id="material_quantity"
                                               placeholder="0" ng-model="p.requiredQuantity"/>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-sm-offset-1">
                                <button ng-click="searchMaterial()" class="btn btn-primary btn-raised">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="material = {}" class="btn btn-primary" data-dismiss="modal">Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
