<div class="users">
    <h3>Crear un nuevo usuario</h3>
    <div class="container">
        <form name="newuser">
            <div class="form-group">
                <h4>Nombre:</h4>
                <input type="text" name="name" placeholder="Nombre" required="required" ng-model="userPassword.user.name"/>
            </div>
            <div class="form-group">
                <h4>Username:</h4>
                <input type="text" name="username" placeholder="Nombre de usuario" required="required" ng-model="userPassword.user.username"/>
            </div>
            <div class="form-group">
                <h4>Password:</h4>
                <input type="password" name="password" placeholder="Password" required="required" ng-model="userPassword.password"/>
                <h4>Confirmar Password:</h4>
                <input type="password" name="checkPassword" placeholder="Confirmar Password" required="required" ng-model="checkPassword"/>
            </div>
            <div class="form-group">
                <h4>e-mail:</h4>
                <input type="text" name="email" placeholder="e-mail" ng-model="userPassword.user.email"/>
            </div>
            <br><h4>Tipo de usuario</h4> <br>
            <input type="radio" name="userType" ng-model="typeUser" value="admin" required="required">Administrador
            <input type="radio" name="userType" ng-model="typeUser" value="worker">Empleado
            <input type="radio" name="userType" ng-model="typeUser" value="salesman">Vendedor
            <br><br>
            <button ng-click="submit()" ng-disabled="newuser.$invalid" class="btn btn-primary btn-block btn-lg">Crear Usuario</button>
            {{userPassword}}
        </form>
        <br>
    </div>

</div>