<div class="jumbotron">
    <legend>Consultar Usuarios</legend>
    <div align="right">
        <button ng-click="edit({})" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button ng-click="reload()" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>

    <div>
        <table id="table" class="table table-striped table-hover">

            <thead>
            <tr>
                <th>Usuario</th>
                <th>Administrador</th>
                <th>Trabajador</th>
                <th>Vendedor</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tr ng-repeat="u in users">
                <td>{{u.username}}</td>
                <td>
                    <span ng-show="u.admin"class="glyphicon glyphicon-ok"></span>
                    <span ng-show="!u.admin"class="glyphicon glyphicon-remove"></span></td>
                <td>
                    <span ng-show="u.worker"class="glyphicon glyphicon-ok"></span>
                    <span ng-show="!u.worker"class="glyphicon glyphicon-remove"></span>
                </td>
                <td>
                    <span ng-show="u.seller"class="glyphicon glyphicon-ok"></span>
                    <span ng-show="!u.seller"class="glyphicon glyphicon-remove"></span></td>
                <td>
                    <button ng-click="edit(u)" class="btn btn-primary btn-raised">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button ng-click="delete(u)" class="btn btn-primary btn-raised">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>


<div id="user" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Usuario</h4>
            </div>
            <div class="modal-body">
                <form name="form" class="form-horizontal" ng-submit="submit()">
                    <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-2" for="username">Nombre de Usuario:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="username" class="form-control" id="username"
                                           placeholder="Nombre de Usuario" required="required"
                                           ng-model="user.username"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-2" for="password">Contraseña:</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control" id="password"
                                           placeholder="Contraseña" ng-model="user.password"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-2" for="admin">Administrador:</label>
                                <div class="col-sm-2">
                                    <input type="checkbox" name="admin" class="form-control" id="admin"
                                           placeholder="Administrador" ng-model="user.admin"/>
                                </div>
                                <label class="control-label col-sm-2" for="worker">Trabajador:</label>
                                <div class="col-sm-2">
                                    <input type="checkbox" name="worker" class="form-control" id="worker"
                                           placeholder="Trabajador" ng-model="user.worker"/>
                                </div>
                                <label class="control-label col-sm-2" for="seller">Vendedor:</label>
                                <div class="col-sm-2">
                                    <input type="checkbox" name="seller" class="form-control" id="seller"
                                           placeholder="Vendedor" ng-model="user.seller"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1">
                                <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary btn-raised">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
